H1{
    background-color: rgb(157, 244, 255);
    padding: 30px;
    font-size: 30px;
    margin-bottom: 10px;
}
    H4{
        padding: px;
        font-size: 20px;
        margin-bottom: 0px;
}
H9{
    font-size: 20px;

}
H6{
    font-size: 20px;
    margin-bottom: 10px;
}
.slider{
    width: 50%; 
    opacity:1;
  }
body{
    background-color: antiquewhite;

        font-family: "Agu Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "MORF" 0;
    }

button{
    background-color: rgb(157, 244, 255);
    padding: 10px;
    font-family: monospace;
    border: none;
    margin-bottom: 10px;
  }