body{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    background-color: rgb(157, 244, 255);
    padding: 10px;
    font-family: monospace;
    border: none;
    margin-bottom: 10px;
  }